
/* //modules styles */

@media only screen and (min-width: 880px) { 

    * {
      flex-shrink: 1;
      justify-content: space-evenly;
      align-items: center;
      align-content: space-between;
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;
      
    }
    
    body {
      margin: 0 auto;
      align-content: space-between;
      align-items: center;
      font-size: 36px;
      
    }
  
    main {
      margin: 0 auto;
      max-width: 960px;
      align-items: center;
      
    }
    
    footer {
      clear: both;
      display: flex;
    }
    
    h1 {
      font-size: 2em;
      font-weight: bolder;
      display: flex;
    }
  
    header {
      background-color: #19867d;
      padding: 20px;
    }
  
    .ball {
      height: 30px;
      width: 30px;
      background-color: #F8F8F8;
      border-radius: 50%;
      border: solid #485150 3px;
      margin-left: 38%;
      position: absolute;
      text-align: center;
      z-index: 10;
    }
  
}